/* cyrillic-ext */
@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    src: local('Press Start 2P Regular'), local('PressStart2P-Regular'), url(./fonts/PressStart2P-Regular.ttf) format('truetype');
}
