
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<ul>
    <li>@Html.ActionLink("Chat Test SignalR : test signalR hub", "Chat")</li>
    <li>@Html.ActionLink("API Help Page", "api", "help")</li>
    <li><a href="http://mediaframework.azurewebsites.net/proto/demointerface1/mockUp.html">Media Player Mock Up</a></li>
</ul>