/* Hides the city nodes for GDC-2016*/
.layout-border::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.layout-border::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.layout-border::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.layout-border{
    border:white solid 1px;
    overflow:auto;
}
.Chicago, .Manchester, .Beijing, .Dalian, .KualaLumpur, .Seoul, .Chengdu, .HongKong, .Shenyang, .Panjin {
    display: none;
}

.display-none {
    display: none;
}

.navbar-nav li {
    background: #222;
    color: #999;
}

.navbar-nav li:hover {
    background: #000000;
    color: #999;
}

.navbar {
    margin-bottom: 0;
}

.scene-list-loader ul {
    list-style: none;
    padding-left: 0px;
}

.nav-pills {
    padding-left: 0;
    counter-reset: my-badass-counter;
}

.nav-pills a {
    color: #bbb;
    text-decoration: none;
    background-color: transparent;
}

.nav-pills dd {
    padding-left: 0;
    color: #bbb;
    background-color: #222;
    list-style-type: upper-roman;
}
.nav-pills dd:before{
    float:left;
    content:counter(my-badass-counter, decimal);
    counter-increment: my-badass-counter;
}

.nav-pills dd:hover {
    background-color: #2f2f2f;
}

.nav-pills dd:active {
    background-color: #000;
}

.nav-pills > button {
    background: #222;
}

.scene-options {
    float: right;
    text-align: right;
}

.remove-scene {
    background: transparent;
    border: none;
    color: red;
}

.edit-scene {
    background: transparent;
    border: none

}

.nav-pills > li + li {
    margin-left: 0px;
}

#media-upload-drop-target p {
    color: #bbb;
}

.graph-type-buttons {
    list-style: none;
    padding-left: 0px;
}

