.player {
    position: relative;
    height: 200px;
    background-color: #ddd;
    overflow: hidden;
}

h1 {
    text-align: center;
}

textarea {
    width: 100%;
    height: 400px !important;
}

.scene-selector {
    margin: 15px 0;
}

.btn-selected {
    background-color: #ebebeb;
    border-color: #adadad;
}

.media-object-preview {
    max-height: 40px;
    width: auto;
}

.file-upload-status {
    z-index: 1;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
}

.file-upload-status .alert {
    margin: 0;
    padding: 2px;
}