.player {
    position: relative;
    height: 200px;
    background-color: #ddd;
    overflow: hidden;
}

html, body, #main, .container-fluid, .fill-height { 
    height: 100%;
}

.header, .top-bar {
    height: 40px;
}

.dropzone, .thumbs-and-json {
    height: calc(100% - 40px);
}

h1 {
    text-align: center;
}

.json-textarea {
    width: 100%;
    height: 100% !important;
}

.scene-selector {
    margin: 15px 0;
}

.btn-selected {
    background-color: #ebebeb;
    border-color: #adadad;
}

.media-object-list {
    padding: 0;
    margin: 0;
}

.media-object-list li {
    list-style: none;
    margin-bottom: 10px;
} 

.media-object-column, .media-object-preview {
    height: 70px;
}

.media-object-column {
    padding-left: 5px;
    padding-right: 5px;
}

.media-object-preview {
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: pointer;
}

.file-upload-status {
    z-index: 1;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
}

.file-upload-status .alert {
    margin: 0;
    padding: 2px;
}

.session-nav {
    right: 10px;
    position: absolute;
}

.page-nav, .scene-controls {
    position: absolute;
}

.page-nav {
    padding-left: 8px;
}

.scene-controls {
    text-align: right;
    padding-right: 8px;
    right: 0px;
}

.scene-name, .title {
    text-align: center;
}

.top-bar {
    position: relative;
}

.CodeMirror {
    height: 100% !important;
    border: 1px solid #ccc;
}

.has-error .CodeMirror {
    border: 1px solid #ff0000;
}
