.player {
    position: relative;
    height: 200px;
    background-color: #ddd;
    overflow: hidden;
}

html, body, #main, .app { 
    height: 100%;
}


/* dirtay css! Forces the loader div to flex down */
.app > div:last-child {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.app {
    display: flex;
    flex-direction: column;
}

.thumbs-and-json {
    flex: 1;
}

.dropzone {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.thumbs-and-json {
    display: flex;
    padding-bottom: 5px;
    padding-right: 2.5px;
    padding-left: 2.5px;
}

.media-object-list, .scene-text-editor {
    flex: 1;
}

.scene-text-editor {
    position: relative;
}

.scene-text-editor > .error-message {
    display: none;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    text-align: right;
    padding: 0 20px 2px 0;
    background-color: rgba(255, 0, 0, .5);
    font-weight: bold;
    z-index: 3;
}

.scene-text-editor.has-error > .error-message {
    display: inherit;
}

.CodeMirror  {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: inherit;
}

.thumbs-and-json > div {
    padding-right: 2.5px;
    padding-left: 2.5px;
}

.json-textarea {
    width: 100%;
    height: 100% !important;
}

.scene-selector {
    margin: 15px 0;
}

.btn-selected {
    background-color: #ebebeb;
    border-color: #adadad;
}

.media-object-list {
    overflow-y: auto;
    position: relative;
}

.media-object-list-instructions {
    position: absolute;
    bottom: 50%;
    right: 0px;
    left: 0px;
    text-align: center;
    font-size: 20px;
    color: #ccc;
}

.media-object-list ul {
    padding: 0;
    margin: 0;
    line-height: 0;
}

.media-object-list li {
    list-style: none;
} 

.empty-media-object-item {
    line-height: 16px;
    display: block;
    text-align: center;
    color: #ccc;
    margin-top: 30px;
    font-size: 30px;
}

.media-object-item:hover {
    background-color: #eee;
}

.media-object-item.selected {
    background-color: #ccc;
}

.media-object-item {
    height: 70px;
    display: inline-block;
    width: 70px;
    cursor: pointer;
    padding: 5px;
}

.media-object-item-preview {
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 60px;
    height: 60px;
    position: relative;
}



.media-object-item-preview button {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    line-height: 0;
    padding: 0;
}

.media-object-item-preview button:hover {
    color: #cc0000;
}

.media-object-item-preview:hover button {
    display: inherit;
}

.file-upload-status {
    z-index: 1;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
}

.file-upload-status .alert {
    margin: 0;
    padding: 2px;
}


.tag-union {
    list-style-type: none;
}

.tag-union li {
    float: left;
    margin-right: 3px;
}

.session-nav {
    right: 10px;
    position: absolute;
}

.page-nav, .scene-controls {
    position: absolute;
}

.page-nav {
    padding-left: 8px;
}

.scene-controls {
    text-align: right;
    padding-right: 8px;
    right: 0px;
}

.scene-name, .title {
    text-align: center;
}

.top-bar {
    position: relative;
}

.media-object-list, .CodeMirror {
    border: 1px solid #ccc;
}

.CodeMirror-activeline-background {
    background: #eee;
}

.CodeMirror-focused .CodeMirror-activeline-background {
    background: #e8f2ff;
}

.has-error .CodeMirror {
    border: 3px solid #ff0000;
}

.logging-in-message {
    text-align: center;
}

.scene-list-loader {
    height: 100px;
}

.loader-text {
    text-align: center;
}

.highlight {
    background-color: #ff4;
}

.header {
    position: relative;
}

.dos-donts {
    position: absolute;
    padding: 6px 12px;
}