html, body, #main, .app {
    height: 100%;
}

/* dirtay css! Forces the loader div to flex down */
.app > div:last-child {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.app {
    display: flex;
    flex-direction: column;
}

.thumbs-and-json {
    flex: 1;
}

.dropzone {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-right: 2.5px;
    padding-left: 2.5px;
}


.thumbs-and-json {
    display: flex;
    padding-bottom: 5px;
}

.media-object-list, .scene-text-editor {
    flex: 1;
}

.scene-text-editor {
    position: relative;
}

.scene-text-editor > .error-message {
    display: none;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    text-align: right;
    padding: 0 20px 2px 0;
    background-color: rgba(255, 0, 0, .5);
    font-weight: bold;
    z-index: 3;
}

.scene-text-editor.has-error > .error-message {
    display: inherit;
}

.CodeMirror  {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: inherit;
}

.thumbs-and-json > div {
    padding-right: 2.5px;
    padding-left: 2.5px;
}

.json-textarea {
    width: 100%;
    height: 100% !important;
}

.scene-selector {
    margin: 15px 0;
}

.btn-selected {
    background-color: #ebebeb;
    border-color: #adadad;
}

.media-object-list {
    overflow-y: auto;
    position: relative;
}

.media-object-list-instructions {
    position: absolute;
    bottom: 50%;
    right: 0px;
    left: 0px;
    text-align: center;
    font-size: 20px;
    color: #ccc;
    z-index: -1;
}

.media-object-list ul {
    padding: 0;
    margin: 0;
}

.media-object-list-grid ul {
    line-height: 0;
}

.media-object-list-grid li {
    list-style: none;
}

.empty-media-object-item {
    line-height: 16px;
    display: block;
    text-align: center;
    color: #ccc;
    margin-top: 30px;
    font-size: 30px;
}

.media-object-item:hover {
    background-color: #ddd !important;
}

.media-object-item.selected {
    background-color: #ccc !important;
}

.media-object-list-grid .media-object-item {
    height: 70px;
    display: inline-block;
    width: 70px;
    vertical-align: top;
    cursor: pointer;
    padding: 5px;
}

.media-object-list-list .media-object-item {
    height: 30px;
    margin: 4px 0;
}

.media-object-list-list .media-object-item:nth-of-type(odd) {
    background: #f3f3f3;
}

.media-object-list .media-object-item-preview {
    overflow: hidden;
}

.media-object-list-grid .media-object-item-preview {
    width: 60px;
    height: 60px;
    font-size: 60px;
    position: relative;
}

.media-object-list-list .media-object-item-preview {
    height: 100%;
}



.media-object-list .media-object-item-preview img {
    height: 100%;
}

.media-object-list-grid .media-object-item-preview img {
    display: inline-block;
    position: absolute;
}

.media-object-list-list .media-object-item-preview img {
    width: 30px;
}

.icon-wrapper {
    position: relative;
}

.media-object-list-list .icon-wrapper {
    display: inline-block;
}

.media-object-list-list .icon {
    width: 30px;
    text-align: center;
}

.media-object-list .icon-wrapper .icon  {
    color: white;
}
.media-object-list-grid .icon-wrapper .icon  {
    opacity: 0.5;
}


.media-object-list-list .icon-wrapper .icon {
    position: absolute;
    left: 0px;
}

.media-object-list-list .icon-wrapper .img {
    height: 30px;
}

.media-object-list-grid .media-object-item-preview button {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    line-height: 0;
    padding: 0;
}

.media-object-list-grid .preview-title {
    display: none;
}

.media-object-list-list .preview-title {
    padding-left: 5px;
}

.media-object-item-preview {
    cursor: pointer;
}

.media-object-list .media-object-item-preview button:hover {
    color: #cc0000;
}

.media-object-list-grid .media-object-item-preview:hover button {
    display: inherit;
}

.media-object-list-list .media-object-item-preview button {
    float: right;
}

.status-messages {
    z-index: 1;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
}

.status-messages .alert {
    margin: 0;
    padding: 2px;
    white-space: pre;
}


.tag-union {
    list-style-type: none;
    padding: 0;
}

.tag-union li {
    float: left;
    margin-right: 3px;
}

.session-nav {
    right: 10px;
    position: absolute;
}

.page-nav, .scene-controls {
    position: absolute;
}


.scene-controls {
    text-align: right;
    padding-right: 8px;
    right: 0px;
}

.scene-name, .title {
    text-align: center;
}

.top-bar {
    position: relative;
}

.media-object-list, .CodeMirror {
    border: 1px solid #ccc;
}

.CodeMirror-activeline-background {
    background: #eee;
}

.CodeMirror-focused .CodeMirror-activeline-background {
    background: #e8f2ff;
}

.has-error .CodeMirror {
    border: 3px solid #ff0000;
}

.logging-in-message {
    text-align: center;
}

.scene-list-loader {
    height: 100px;
}

.loader-text {
    text-align: center;
}

.highlight {
    background-color: #ff4;
}

.header {
    position: relative;
    background-color: #ddd;
}

.header a {
    padding: 10px 12px;
}

.dos-donts {
    position: absolute;
}

.add-media-object {
    padding: 10px 0;
    text-align: center;
}

.add-media-object input {
    display: inline-block;
    width: 80%;
}

.add-media-object button, .add-media-object input {
    border-radius: 0;
}

.waveform-url {
    background-color: black;
}

.rootLevel {

}

.firstLevel {
    margin-left: 15px;
}

.add-scene-button {
    width:100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.remove-scene-button {
    margin-top: 5px;
    margin-bottom:20px;
    width: 100%;
}

.scene-graph .scene-list {
    max-width: 250px;
    display: inline-block;
    margin-right: 20px;
}

.scenes-themes-tags {
    min-height: 200px;
}

.scene-graph-theme-drag-containers {
    min-height: 200px;
}

.margin-top-34 {
    margin-top: 44px;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.scene-graph-scene-list-container {
    margin-bottom: 20px;
}
