html, body, #login, #player {
    height: 100%;
    /* for some reason vimeo embeds break down when you add them anywhere but
       document.body to trigger preloading (we later move them to the player element),
       so I have to hide overflow so scroll bars don't show for that brief moment when 
       the vimeo iframe is directly in the body */
    overflow: hidden;
}

#login {
    
}

#player {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	-webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

#scene-name {
	background-color: rgba(0, 0, 0, .7);
	padding: 6px 15px;
	border-top-right-radius: 6px;
	color: white;
	font-size: 22px;
	z-index: 2;
	position: absolute;
	bottom: 0px;
}