html, body, #login, #player {
    height: 100%;
    /* for some reason vimeo embeds break down when you add them anywhere but
       document.body to trigger preloading (we later move them to the player element),
       so I have to hide overflow so scroll bars don't show for that brief moment when
       the vimeo iframe is directly in the body */
    overflow: hidden;
}

#login {

}

.player-off {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-color: black;

	-webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
    display:none;
}


.player-on {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: black;

    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
    display:block;
}

.info-box {
    background-color: rgba(0, 0, 0, .7);
    padding: 6px 15px;
    color: white;
    font-size: 61px;
    z-index: 99999;
    position: absolute;
    bottom: 0px;
}

#scene-name {
	border-top-right-radius: 6px;
}

#theme-name {
    border-top-left-radius: 6px;
    right: 0px;
    display: none;
}

#errors {
    position: absolute;
    top: 0px;
}

.error {
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    list-style-type: none;
    opacity: 0;
    color: red;
}
