
.media-object {
    position: absolute;
    opacity: 0;

    /*-webkit-transition: opacity 1.4s ease-in-out;
    -moz-transition: opacity 1.4s ease-in-out;
    -ms-transition: opacity 1.4s ease-in-out;
    -o-transition: opacity 1.4s ease-in-out;
    transition: opacity 1.4s ease-in-out;*/
    border: 4px solid #000;
    box-shadow:         0px 0px 39px 0px black; 
}

.show-media-object {
    opacity: 1;
}

.image-media-object { 
    width: auto;
    height: auto;
    max-width: 50%;
}

.embedded-vimeo-player {
    z-index: 1;
}

.text-media-object {
    background-color: rgba(0, 0, 0, .7);
    padding: 10px;
    font-size: 18px;
    border-radius: 3px;
    border: none;
    color: white;
    z-index: 2;
}