html, body {
	height: 100%;
    /* for some reason vimeo embeds break down when you add them anywhere but
       document.body to trigger preloading (we later move them to the player element),
       so I have to hide overflow so scroll bars don't show for that brief moment when
       the vimeo iframe is directly in the body */
    overflow: hidden;
}

#main, .player, .scene-listener, .login-loader, .media-object-wrapper {
    height: 100%;
}

.player {
    position: relative;
    background-color: #ddd;
    overflow: hidden;
}

.scene-listener-tag-input {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    min-width: 200px;
    z-index: 99999;

}

.theme-selector {
    z-index: 99999;
    position: absolute;
    bottom: 0;
    left: 0;
}

.tag-filter input {
    z-index: 3;
}

.theme-selector .active {
    background-color: rgb(192, 225, 192);
}

.theme-selector button:focus {
    outline: none;

}
