html, body {
	height: 100%;
}

#main, .player, .scene-listener, .login-loader, .media-object-wrapper {
    height: 100%;
}

.player {
    position: relative;
    background-color: #ddd;
    overflow: hidden;
}

.scene-listener-tag-input {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    min-width: 200px;
}

.theme-selector {
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 0;
}

.tag-filter {
    z-index: 3;
}

.theme-selector .active {
    background-color: rgb(192, 225, 192);
}

.theme-selector button:focus {
    outline: none;
    
}

.media-object {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 1.4s ease-in-out;
    -moz-transition: opacity 1.4s ease-in-out;
    -ms-transition: opacity 1.4s ease-in-out;
    -o-transition: opacity 1.4s ease-in-out;
    transition: opacity 1.4s ease-in-out;
}

.show-media-object {
    opacity: 1;
}

.image-media-object { 
    width: auto;
    height: auto;
    max-width: 50%;
}

.embedded-vimeo-player {
    z-index: 1;
    /* exact center video */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-media-object {
    background-color: rgba(0, 0, 0, .7);
    padding: 10px;
    border-radius: 3px;
    color: white;
    z-index: 2;
}