html, body {
	height: 100%;
}

#main, .player, .scene-listener {
    height: 100%;
}

.player {
    position: relative;
    background-color: #ddd;
    overflow: hidden;
}

.image-media-object {
    position: absolute;
    width: 50%;
    opacity: 0;
}

.scene-listener-tag-input {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    min-width: 200px;
}

.theme-selector {
    position: absolute;
    bottom: 0;
    left: 0;
}

.theme-selector .active {
    background-color: rgb(192, 225, 192);
}

.theme-selector button:focus {
    outline: none;
    
}